@import '../../base.css';

.navbar_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--light);
  z-index: 99;
  background-color: var(--dark-mode);
}

.navbar_view>text {
  font-weight: 600;
  padding-left: var(--basic-rem);
  font-size: var(--medium-rem-2);
}