@import "../../../base.css";

.setting_container {
  min-height: 90vh;
  background-color: var(--light-mode-one);
}

.setting_items {
  display: flex;
  flex-direction: column;
  font-family: 'kuaile', cursive !important;
}

.setting_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-rem-3) var(--basic-rem);
}

.setting_item_left {
  display: flex;
  flex-direction: column;
  gap: var(--small-rem);
}

.setting_item_left_content {
  font-size: var(--small-rem);
  color: var(--dark-60);
}