@import "../../../base.css";

.my_container {
  background-color: var(--light-mode-one);
  color: var(--dark);
  min-height: calc(100vh - 5rem);
  padding: var(--basic-rem);
  padding-bottom: 12vh;

  font-family: 'kuaile', cursive !important;
}

.my_header_info {
  display: flex;
  align-items: center;
  gap: var(--large-rem);
  background-image: url("https://images.huangrx.cn/uploads/2023/06/05/pexels-christyn-reyes-13458334.jpg");
  background-size: 100%;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  padding: var(--large-rem) var(--basic-rem);
  border-radius: var(--basic-rem);
  margin-bottom: var(--large-rem);
}

.my_header_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 10px solid var(--light-60);
}

.my_header_nickname {
  font-size: var(--medium-rem-2);
  font-weight: 500;
}

.my_content_header_menu_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  color: var(--light);
  padding: var(--large-rem) 0;
  background-color: var(--dark-mode);
  border-radius: var(--basic-rem);
  margin-bottom: var(--large-rem);
}

.my_content_header_menu_item {
  display: flex;
  flex-direction: column;
  gap: var(--basic-rem);
  align-items: center;
}

.my_content_header_menu_button {
  background-color: inherit;
  color: var(--light);
  line-height: normal;
  font-size: inherit;
}

.my_content_gap {
  height: 10px;
  width: 100%;
  background-color: var(--light-60);
}

.my_menu_content {
  display: flex;
  flex-direction: column;
  padding: var(--large-rem) var(--basic-rem);
  background-color: var(--light);
  border-radius: var(--basic-rem);
}

.my_menu_content_title {
  font-weight: 500;
  font-size: var(--medium-rem-1);
}

.my_menu_items {
  display: flex;
  flex-direction: column;
}

.my_menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--large-rem) + var(--basic-rem)) 0 0 0;
}

.my_menu_item_title {
  display: flex;
  align-items: center;
  gap: var(--basic-rem);
}

.my_content_header_overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_content_header_overlay > image {
width: 80vw;
height: 80vw;
}

.my_menu_item_button {
  line-height: inherit;
  width: 100%;
  border: none;
  background-color: var(--light);
  font-size: inherit;

}

