@import "../../base.css";

.message_container {
  background-color: var(--dark-mode);
  color: var(--light);
  min-height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: center;
}