@import '../../base.css';

.home_body {
  background-color: var(--dark-mode);
  padding: var(--basic-rem);
  min-height: 100vh;
}

.home_menu_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--basic-rem);
  color: #fff;
  margin: var(--large-rem) 0;
  padding: var(--large-rem) 0;
  border: 1px solid var(--light);
  border-radius: var(--basic-rem);
  background-color: var(--dark-mode);
}

.home_menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--small-rem);
}

.home_menu_item :hover {
  cursor: pointer;
}

.home_menu_active > .home_menu_icon {
  background-color: var(--green-four);
}

.home_menu_active > .home_menu_text {
  color: var(--green-four);
}

.home_menu_icon {
  background-color: var(--light);
  border-radius: 50%;
  color: var(--dark);
  padding: var(--basic-rem);
}

.weather_container {
  color: var(--dark);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.weather_content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--basic-rem);
  font-size: var(--basic-rem);
  line-height: var(--large-rem);
}

.weather_row_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--basic-rem);
}

.weather_city {
  padding: var(--basic-rem) var(--basic-rem);
  background-color: var(--purple-four);
  border-radius: var(--basic-rem);
}

.weather_today {
  padding: var(--basic-rem) var(--basic-rem);
  background-color: var(--pink-four);
  border-radius: var(--basic-rem);
}

.weather_suggest {
  padding: var(--basic-rem) var(--basic-rem);
  background-color: var(--green-four);
  border-radius: var(--basic-rem);
}