@import "../../../base.css";

.memorial_container {
  background-color: var(--light-mode-one);
  font-family: 'kuaile', cursive !important;
  min-height: 90vh;
}

.memorial_item {
  width: 80%;
  background-color: var(--pink-two);
  margin: var(--basic-rem) auto;
  border-radius: var(--basic-rem);
}

