@import "../../base.css";

.about_container {
  height: 100vh;
  background-color: var(--light-mode-one);
  color: var(--dark);
}

.about_first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 0 calc(var(--large-rem) * 2) 0;
  margin-top: calc(var(--large-rem) * 2) !important;
  gap: var(--basic-rem);
}

.about_first_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--small-rem);
}

.about_first_name, .about_item_left_title {
  font-size: var(--basic-rem);
}

.about_first_version, .about_item_left_content {
  font-size: var(--small-rem);
  color: var(--dark-60);
}

.about_items {
  display: flex;
  flex-direction: column;
}

.about_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-rem-3) var(--basic-rem);
}

.about_item_left {
  display: flex;
  flex-direction: column;
  gap: var(--small-rem);
}