@import "../../../base.css";

.letter_container {
  padding: 0 var(--basic-rem);

  background-color: var(--light-mode-one);
  font-family: 'kuaile', cursive !important;
  min-height: 90vh;
}

.letter_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--basic-rem);
}

.letter_items_body {
  display: flex;
  flex-direction: column;
  gap: var(--large-rem);
}

.letter_item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-image: url('https://huangrx.cn/svg/letter-paper.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: var(--basic-rem);
  gap: var(--medium-rem-2);
  border-radius: var(--small-rem);
}

.letter_item_header {
  display: flex;
  gap: var(--basic-rem);
  align-items: center;
}

.letter_item_header_content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.letter_item_header_nickname {
  font-weight: 500;
  font-family: 'Lilita One', cursive !important;
  font-size: var(--basic-rem);
}

.letter_item_header_date {
  font-size: var(--small-rem);
  color: var(--dark-50)
}

.letter_item_content {
  font-size: var(--small-rem);
  line-height: var(--medium-rem-2);
}
